$primary-blue: rgb(4, 94, 135);
$secondary-blue: rgb(19, 172, 242);
$primary-orange: rgb(255, 140, 18);
$secondary-orange: rgb(255, 192, 18);
$primary-red: rgb(204, 22, 35);
$secondary-red: rgb(250, 42, 56);
$primary-green: rgb(7, 171, 31);
$secondary-green: rgb(10, 242, 44);

